<script>
import { mapActions, mapMutations } from 'vuex'
import DataProcessor from '@lib/processors/data-processor'
import ModalFormMixin from '@lib/mixins/modal-form'

export default {
  name: 'CategoryModal',
  mixins: [ModalFormMixin],
  props: {
    item: {
      type: Object,
      default: null,
    },
    processor: {
      type: DataProcessor,
      required: true,
    },
  },
  data() {
    return {
      form: {
        name: '',
      },
      progress: false,
    }
  },
  created() {
    if (this.item) {
      this.form = {
        name: this.item.name,
      }
    }
  },
  methods: {
    ...mapActions('categories', [
      'createCategory',
      'updateCategory',
    ]),
    ...mapMutations('categories', {
      setCategories: 'SET_CATEGORIES',
    }),
    onSubmit() {
      const { item, form } = this
      let request
      this.progress = true

      if (this.item) {
        request = this.updateCategory({
          ...form,
          id: item.id,
        })
      } else {
        request = this.createCategory({
          ...form,
          groupName: 'default',
        })
      }

      request.then(response => {
        this.progress = false
        this.$notifier({
          response,
          errorTitle: `Unable to ${this.item ? 'update' : 'create'} category`,
          successMsg: `Category successfully ${this.item ? 'updated' : 'created'}`,
        }).then(success => {
          if (success) {
            this.processor.getData()
              .then(data => this.setCategories(data))
            this.$emit('close-modal')
          }
        })
      })
    },
  },
}
</script>

<template>
  <form-dialog
    :title="item ? 'Edit Category' : 'Add Category'"
    :check-form-changed="checkIfFormChanged"
    v-bind="$attrs"
    v-on="$listeners"
  >
    <el-form label-position="top">
      <el-form-item
        label="Name"
        required
      >
        <el-input v-model="form.name" />
      </el-form-item>
      <el-button
        type="primary"
        :class="$style.button"
        :loading="progress"
        class="el-button--wide"
        @click.stop="onSubmit"
      >
        Save
      </el-button>
    </el-form>
  </form-dialog>
</template>

<style lang="scss" module>
.button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
</style>
