<script>
import CellMixin from '@lib/components/data-table/cells/cell.mixin'
import MerchantCreate from './feed-merchant-create.vue'
import { mapActions } from 'vuex'
import DataProcessor from '@lib/processors/data-processor'
import ModalFormMixin from '@lib/mixins/modal-form'

export default {
  name: 'FeedMerchandDialogContainer',
  components: {
    MerchantCreate,
  },
  mixins: [CellMixin, ModalFormMixin],
  props: {
    row: {
      type: Object,
      required: true,
    },
    processor: {
      type: DataProcessor,
      required: true,
    },
    showButton: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      showCreate: false,
      showDetachDialog: false,
      progress: false,
    }
  },
  computed: {
    merchant() {
      return this.row.merchant
    },
    commissionIsMissing() {
      const { commission = {} } = this.row.map
      const { min, base, max } = commission
      // eslint-disable-next-line eqeqeq
      const emptyCommission = min == 0 && base == 0 && max == 0
      return emptyCommission
    },
    canAttach() {
      return this.row.status === 'active'
    },
    merchantForm() {
      return this.showCreate ? this.$refs.merchantForm.form : null
    },
  },
  watch: {
    showCreate() {
      this.$nextTick(() => {
        this.cloneOriginalData('merchantForm')
      })
    },
  },
  methods: {
    ...mapActions('feedMerchants', [
      'detachFeedMerchantFromGlobamMerchant',
    ]),
    onDetach() {
      this.progress = true
      this.detachFeedMerchantFromGlobamMerchant({
        merchantId: this.merchant.id,
        feedmerchantId: this.row.id,
      }).then(response => {
        this.progress = false
        this.$notifier({
          response,
          errorTitle: 'Unable to detach',
          successMsg: 'Successfully detached',
        }).then(success => {
          if (success) {
            this.showDetachDialog = false
            this.processor.getData()
          }
        })
      })
    },
  },
}
</script>

<template>
  <div v-if="merchant">
    <div
      :class="$style.link"
      @click.stop.prevent="showDetachDialog = true"
    >
      <el-button
        v-if="showButton"
        type="danger"
      >
        Detach
      </el-button>
      <span v-else>
        Detach
      </span>
    </div>
    <state-dialog
      :visible.sync="showDetachDialog"
      title="Detach Merchant"
      modal-append-to-body
      append-to-body
    >
      <el-icon
        slot="icon"
        name="warning"
      />
      <el-icon
        slot="subicon"
        :class="$style.subicon"
        name="delete"
      />
      <div :class="$style.msg">
        Are you sure you wish to detach<br> <b>{{ row.map.name }}</b> from <b>{{ merchant.name }}</b>?
      </div>
      <div
        class="modal__footer"
      >
        <el-button
          type="danger"
          :loading="progress"
          class="el-button--wide"
          @click.stop.prevent="onDetach"
        >
          Detach
        </el-button>
      </div>
    </state-dialog>
  </div>
  <div v-else-if="canAttach">
    <div
      :class="$style.link"
      @click.stop.prevent="showCreate = true"
    >
      <el-button
        v-if="showButton"
        type="success"
      >
        Create / Associate
      </el-button>
      <span v-else>
        Create / Associate
      </span>
    </div>
    <form-dialog
      v-if="showCreate"
      ref="dialog"
      center
      title="Create / Associate Global Merchant"
      :visible.sync="showCreate"
      :class="$style.dialog"
      :processor="processor"
      :check-form-changed="checkIfFormChanged"
      top="5%"
      modal-append-to-body
      append-to-body
    >
      <merchant-create
        v-if="showCreate"
        ref="merchantForm"
        :key="Math.random()"
        :row="row"
        :processor="processor"
        @close-dialog="showCreate = false"
      />
    </form-dialog>
  </div>
</template>

<style lang="scss" module>
.link {
  color: var(--color-primary);
}

.dialog {
  cursor: default;

  :global {
    .el-dialog__headerbtn {
      top: rem(38px);
    }
  }
}
</style>
