<script>
import { mapGetters } from 'vuex'
import feedUpdateTable from './feed-update.table.js'
import merchantUpdateModal from '../merchant-update'
import ElasticProcessor from '@lib/processors/elastic-processor'
import getExportedFilename from '../../utils/get-exported-filename'
import get from 'lodash/get'
import RowMixin from '@lib/components/data-table/rows/row.mixin.js'

export default {
  name: 'FeedUpdate',
  page: {
    title: 'Feed Update',
  },
  components: {
    merchantUpdateModal,
  },
  mixins: [RowMixin],
  data() {
    return {
      table: feedUpdateTable,
      activeItemId: null,
      activeTab: '',
      modal: {
        merchantUpdate: false,
      },
      tabs: [
        { label: 'Merchants', name: 'merchants' },
        { label: 'Offers', name: 'offers' },
      ],
    }
  },
  computed: {
    ...mapGetters('feeds', [
      'feeds',
    ]),
    defaultTab() {
      return this.tabs[0].name
    },
    slug() {
      return this.$route.params.slug
    },
    name() {
      const feed = this.feeds.find(el => el.slug === this.slug)
      return get(feed, 'name')
    },
    path() {
      const filter = this.slug ? `?filters[feeds]=${this.slug}` : ''
      const result = `feed${this.activeTab}${filter}`
      return result
    },
    tableName() {
      return this.table[this.activeTab].tableName
    },
  },
  watch: {
    '$route.params.tab'(tab = this.defaultTab, prevTab) {
      if (tab !== prevTab) {
        this.activeTab = tab
        this.getFeeds()
      }
    },
    path(newPath, oldPath) {
      if (newPath !== oldPath) {
        this.getFeeds()
      }
    },
  },
  created() {
    const { tab = this.defaultTab } = this.$route.params
    this.activeTab = tab
    this.getFeeds()
  },
  methods: {
    getFeeds() {
      const { processor } = this.table

      if (processor) {
        processor.destroy()
      }

      this.table.processor = new ElasticProcessor({
        component: this,
        index: `feed-${this.activeTab}`,
        initialDataQuery: { pageSize: 25 },
        staticDataQuery: {
          filters: [
            {
              attribute: 'feed',
              value: this.slug,
            },
          ],
        },
      })
    },
    onTabClick(newTab, prevTab) {
      if (this.activeTab !== newTab && newTab !== prevTab) {
        this.$router.push({
          name: 'feed-update',
          params: {
            slug: this.$route.params.slug,
            tab: newTab,
          },
          query: {},
        })
      }
    },
    onRowClick(row, column, event) {
      this.saveQuery()

      if (this.activeTab === 'merchants') {
        this.$router.push({
          name: 'feed-merchant',
          params: {
            id: row.externalId,
          },
        })
      } else if (this.activeTab === 'offers') {
        this.$router.push({
          name: 'feed-offer',
          params: {
            id: row.id,
          },
        })
      }
    },
    getExportedFilename() {
      return getExportedFilename(this.tableName)
    },
  },
}
</script>

<template>
  <main-layout
    v-if="table.processor"
    :title="`${name} Feed Updates`"
  >
    <el-tabs
      v-model="activeTab"
      :before-leave="onTabClick"
    >
      <el-tab-pane
        v-for="tab in tabs"
        :key="tab.name"
        :label="tab.label"
        :name="tab.name"
        lazy
      >
        <table-layout
          v-if="activeTab === tab.name"
          :table-name="tableName"
          :processor="table.processor"
          :filters="table[activeTab].filters"
          :columns="table[activeTab].columns"
          :fragments="false"
          hider
          :quantity="[25, 50, 100, 200]"
          :export-filename="getExportedFilename"
          @row-click="onRowClick"
        />
      </el-tab-pane>
    </el-tabs>
    <merchant-update-modal
      v-if="modal.merchantUpdate"
      :id="activeItemId"
      :visible.sync="modal.merchantUpdate"
      :processor="table.processor"
    />
  </main-layout>
</template>
