<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link type="image/png" href="https://assets.eonx.com/logo/favicon.png" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
    <link href="//assets.eonx.com" rel="preconnect" crossorigin>
    <title>Online Offers</title>
    <script>
      var UPLOADCARE_PUBLIC_KEY = '<%= VUE_APP_UPLOADCARE_PUBLIC_KEY %>';
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but manage-v2-frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
