<script>
export default {
  name: 'EditLayoutCategories',
  props: {
    value: {
      type: Array,
      default: () => [],
    },
    categories: {
      type: Array,
      default: () => [],
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    selectValue(checked, item) {
      if (checked) {
        if (!this.selected(item)) {
          this.value.push(item)
        }
      } else {
        const indexOf = this.value.findIndex(el => el.id === item.id)
        if (indexOf !== -1) {
          this.value.splice(indexOf, 1)
        }
      }
      this.$emit('input', this.value)
    },
    selected(item) {
      for (const el of this.value) {
        if (el.id === item.id) {
          return true
        }
      }
      return false
    },
  },
}
</script>

<template>
  <div :class="$style.container">
    <el-checkbox
      v-for="(item, index) in categories"
      :key="item.id"
      :label="item.name"
      :value="selected(item)"
      :disabled="disabled"
      :style="{ msGridRow: (index - index % 2) / 2 + 1 }"
      @input="selectValue($event, item)"
    />
  </div>
</template>

<style lang="scss" module>
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;

  :global {
    .el-checkbox {
      -ms-grid-column: 2;
      margin-right: 0;
      margin-bottom: rem(10px);

      &:nth-child(2n-1) {
        -ms-grid-column: 1;
        margin-right: rem(10px);
      }
    }
  }
}
</style>
